process {
	withName: minimap2 {
		executor = 'lsf'
		queue = 'normal'
		cpus = 10
		memory = 40.GB
		clusterOptions = "-R'select[mem>40000] rusage[mem=40000]'"
	}
	withName: samtools_sort {
		executor = 'lsf'
		queue = 'normal'
		cpus = 2
		memory = 2.GB
		clusterOptions = "-R'select[mem>2000] rusage[mem=2000]'"
	}
	withName: samtools_index {
		executor = 'lsf'
		queue = 'normal'
		cpus = 1
		memory = 1.GB
		clusterOptions = "-R'select[mem>1000] rusage[mem=1000]'"
	}
}
